.config/nvim_bak/plugged/*
ad-hoc.lisp
.antigen
.bash_history
.bash_profile
.cache
dircolors.256dark
dircolors.256dark:Zone.Identifier
firefox.exe
fonts
.fzf
.git
.gitconfig
go
.gumrc
.java
keygen
load_windows_env.sh
.local
.luarocks
.m2
.mongodb
monitoror
.node_repl_history
.npm
nvim.appimage
.nvm
.oh-my-zsh
.p10k.zsh
package.json
package-lock.json
.profile
.python_history
.quicklisp
quicklisp.lisp
quicklisp.lisp.asc
.sbcl_history
scripts
script.sh
.shell.pre-oh-my-zsh
.slime
.sqlcmd
.ssh
tests
.vim
.viminfo
.vscode-server
.wget-hsts
.zcompdump
.zcompdump-KOMILCHEVW10-5.8
.zcompdump-KOMILCHEVW10-5.8.zwc
.zsh_history
.zsh_history_backup
.zshrc.omz-uninstalled-2023-05-02_15-29-47
.zshrc.omz-uninstalled-2024-02-07_08-40-28
.zshrc.pre-oh-my-zsh
.zshrc.pre-oh-my-zsh-2023-07-31_11-46-14
